<div class="mx-auto w-4/5 w-full pt-10">
  <h1 class="font-bold text-4xl mb-6">Editar Tarefa</h1>

  <%= render "form", task: @task %>

  <%= link_to "Voltar", tasks_path, class: "btn" %>
  <br>
  <br>
  <br>
</div>
