<div class="mx-auto w-4/5">
  <% content_for :title, "Tarefas" %>

  <h1 class="font-bold text-4xl text-center mt-5 mb-5">Tarefas</h1>

  <div id="klasses" class="min-w-full">
    <% @tasks.each do |task| %>
      <div class="flex mb-5 justify-between items-center py-2 px-3 border border-base-100 rounded">
        <div>
          <span><%= task.title %><span>
          <span class="text-white/40 block">Testes: <%= task.tests.size %></span>
        </div>
        <div class="flex">
          <%= link_to "Mostrar", task, class: "btn btn-secondary mr-2" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Nova Tarefa", new_task_path, class: "btn btn-primary float-right" %>
</div>
