
<!--Fim do Container-->
  <div id="students" class="">
    <% @students.each do |student| %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>

