<section class="bg-primary text-white py-20">
  <div class="container mx-auto text-center">
    <h1 class="mb-4 text-5xl font-bold text-white retro-text">CideClasse</h1>
    <p class="text-lg">Juíz online acadêmico de código aberto</p>
    <a href="/sessions/new" class="btn btn-ghost mt-4">Entrar</a>
  </div>
</section>

<section id="features" class="py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-12">Funcionalidades</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-base-300 p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-4">IDE integrada</h3>
        <img class="mb-4" src="/f1.png">
        <p>Interface com editor de código e visualização de testes unitários integrada.</p>
      </div>
      <div class="bg-base-300 p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-4">Correção automatica</h3>
        <img class="mb-4" src="/f2.png">
        <p>Configure testes unitários para sua tarefa e deixe que o sistema corriga as entregas.</p>
      </div>
      <div class="bg-base-300 p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold mb-4">Detector de plágio</h3>
        <img class="mb-4" src="/f3.png">
        <p>Tenha acesso à relatórios do jplag em segundos.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary text-white py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-4">Interessado?</h2>
    <p class="text-lg">Faça uma cotação</p>
  </div>
</section>

<section id="pricing" class="py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-12">Preços</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Basic Plan -->
      <div class="bg-secondary p-8 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-4">Demostração</h3>
        <p class="text-gray-400 mb-6">R$20 Reais Primeiro Mês</p>
        <a href="https://wa.me/5511950519350" class="btn btn-primary">Contratar</a>
      </div>

      <!-- Pro Plan -->
      <div class="bg-secondary p-8 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-4">Mensal</h3>
        <p class="text-gray-400 mb-6">R$50/Mês</p>
        <a href="https://wa.me/5511950519350" class="btn btn-primary">Contratar</a>
      </div>

      <!-- Enterprise Plan -->
      <div class="bg-secondary p-8 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-4">Anual</h3>
        <p class="text-gray-400 mb-6">$420/Ano</p>
        <a href="https://wa.me/5511950519350" class="btn btn-primary">Contratar</a>
      </div>
    </div>
  </div>
</section>


