<div id="<%= dom_id submission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= submission.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Task:</strong>
    <%= submission.task_id %>
  </p>

</div>
